body {
    background: linear-gradient(to bottom,
    rgba(6, 78, 36, 0.9),   /* soft pink with opacity */
    rgba(71, 177, 115, 0.9),   /* soft blue with opacity */
    rgba(179, 236, 203, 0.9));    /* soft green with opacity */
    min-height: 100vh;
    font-family: sans-serif, Arial ;
}

header {
    text-align: center;
}