.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;          /* full screen height */
  width: 100vw;
  background-color: #f3f2ef; /* LinkedIn-style light background */
}

.loading-image {
  width: 20vw;
  max-width: 120x;
  min-width: 60px;
  height: auto;
  margin-bottom: 10px;
}


