/* About */

.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.about-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.about-pic {
  width: 250px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-top: 150px;
  margin-left: -200px;
}

.about-right {
  flex: 2;
  padding-left: 40px;
  margin-top: 70px;
}

.about-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.resume-btn {
  display: block;
  width: fit-content;
  padding: 12px 24px;
  background-color: #ffffff;
  color: rgb(14, 13, 13);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  border: 2px solid black;
  transition: background-color 0.3s ease;
  margin-top: 50px;
}

.resume-btn:hover {
  background-color: #ffffff;
  transform: scale(1.05);       /* makes button 5% bigger */
  color: rgb(14, 13, 13);
}

/* Projects */
